#container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  font-size: 70%;
}
div {
  border: 1px solid black;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(249, 244, 132);
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  height: 50px;
  box-shadow: 2px 2px rgba(118, 122, 130, 0.5);
  text-align: center;

}

button:hover {
  color: white;
  background: rgb(183, 210, 255);
}